<style>
    .errorwrap {
        display: flex;
        gap: 1em;
        max-width: 75%;
    }
    .errortextwrap h1 {
        margin: 0;
    }
</style>
<div class="errorwrap">
    <img src="<%= image %>" width="128" height="128">
    <div class="errortextwrap">
        <h1><%= title %></h1>
        <div>
            <%- description %>
        </div>
    </div>
</div>
<script>
    document.querySelector(".errortextwrap div").innerText = decodeURIComponent(new URLSearchParams(document.location.search).get("message"))
    new Audio("/sfx/autofill_problematic.wav").play();
    window.cubismNoMouth = true;
    window.cubismColonO = true;
    window.addEventListener("cubismready", function() {
        window.cubismMotion("/cubism/hiyori_pro/motion/hiyori_m10.motion3.json")
    })
</script>
<script src="/cubism/cubismcore.js"></script>
<script src="/cubism/cubism.js"></script>