<html lang="en">
    <head>
        <title>gamePLUS</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script src="/cubism/cubismcore.js"></script>
        <script src="/cubism/cubism.js"></script>
    </head>
    <body>
        <h1><img src="/icons/application_form_add.png"> Create new app</h1>

        <%- include('gameform', {game: null}); %>
    </body>
</html>