<html lang="en">
    <head>
        <title>gamePLUS</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script src="https://cdn.jsdelivr.net/npm/iconify-icon@2.1.0/dist/iconify-icon.min.js"></script>
        <meta name="robots" content="noindex, nofollow" />
        <script src="/cubism/cubismcore.js"></script>
        <script src="/cubism/cubism.js"></script>
    </head>
    <body>
        <h1 style="margin-top: 0;"><img src="/icons/application_form_edit.png"> Edit <%= game.name %></h1>
        <%- include('gameform', {game}); %>
    </body>
</html>