<p>
    gamePLUS is the game detection database for Quarky, the world's silliest chat app.<br>
    <a href="/learn">Learn more about gamePLUS</a> or search for games in the database below.
</p>

<div><canvas id="myChart"></canvas></div>
<form action="/search" method="get" style="float: right;">
    <input id="gamename" name="game" placeholder="Type a game name...">
    <input type="submit" value="Search">
</form>

<hr>

<p><a href="/create">Create new app</a></p>

<%- contentFor('head') %>
<title>gamePLUS!</title>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@1.0.1/dist/chartjs-adapter-moment.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const ctx = document.getElementById('myChart');

        new Chart(ctx, {
            type: 'line',
            data: {
                labels: <%- xLabels %>,
                datasets: [{
                    label: 'Games',
                    data: <%- yLabels %>,
                    borderWidth: 1,
                    stepped: true
                }]
            },
            options: {
                animation: {duration:0},
                scales: {
                    x: {
                        type: 'time',
                        time: {
                            unit: 'day',
                            tooltipFormat: 'YYYY-MM-DD'
                        },
                        ticks: {
                            source: 'auto'
                        }
                    },
                    y: {
                        ticks: {
                            stepSize: 1
                        }
                    }
                },
                plugins: {
                    legend: {
                        display: false
                    },
                },
                responsive: true,
                maintainAspectRatio: false
            }
        });
    })
</script>